body{
  font-family: blod;
 background: red;
 font-size: 18px;
 color: gold;
}
.Gallery{
  margin: 10px 20px;
}
.Gallery img {
  width: 270px;
  padding: 40px;
  filter: grayscale(40);
  transition:ls ;
}
.Gallery img:hover{
  filter: grayscale (10)
}
 
 
